@import "../../global.scss";




.footer-container{
    height: 30vh;
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .footer-top{
        height: 80%;
        color: white;
        display: flex;
        align-items: center;
        
        justify-content: center;
        flex-direction: column;
        width: 100%;
        .top-p{
            // border: 2px solid red;
            text-align: center;

            @include mobile{
                font-size: 13px;

                padding: 0 50px;
            }
        }

        .footer-icons{
            width: 15%;
            display: flex;
            // flex-direction: column;
            justify-content: space-evenly;

            @include mobile{
                width:50%;
            }
            a{
                color: white;
            }
        }
    }
    .footer-bottom{
        height: 20%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;

        @include mobile {
                font-size: 13px;
        
                // padding: 0 50px;
            }
        .bottom-span{
            color: blue;
        }
    }
    }